{% extends "base.html" %} {% block content %}

<div style="margin:5px;" class="jumbotron">
    <h1 style="color: #000; font-weight: bolder; font: size 50px;"> Face Recognition</h1>

    <p></p>Abouuut facial recognition system is a technology capable of matching a human face from a 
        digital image or a video frame against a database of faces, typically employed to 
        authenticate users through ID verification services, 
        works by pinpointing and measuring facial features from a 
        given image

   
   
    
</div>

{% endblock %}